<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    
    <!--SFC2006-->
    <add key="DBConnWebService" value="http://10.41.21.91:808/DBConnect.WebService/DBConnect.WebService.asmx"/>
		<add key="BasicWebService" value="http://10.41.21.91:808/Basic.WebService/WebService.asmx"/>
		<add key="P2L" value="http://10.42.23.122:8090/P2LService/SFC.asmx"/>
		<add key="LogonWebService" value="http://10.41.21.91:808/PortalWebService/Logon.asmx"/> 
		<!--<add key="MAWGT003.Basic.WebService" value="http://10.41.21.91:808/Basic.WebService/WebService.asmx"/>-->

    <!--WZS F136-->
    <!--<add key="DBConnWebService" value="http://10.41.16.183:136/DBConnect.WebService/DBConnect.WebService.asmx"/>
    <add key="BasicWebService" value="http://10.41.16.183:136/Basic.WebService/WebService.asmx"/>
    <add key="P2L" value="http://10.42.23.122:8090/P2LService/SFC.asmx"/>
    <add key="LogonWebService" value="http://10.41.16.183:136/PortalWebService/Logon.asmx"/>
    <add key="MAWGT003.Basic.WebService" value="http://10.41.16.183:136/Basic.WebService/WebService.asmx"/>-->

    <!--<add key="DBConnWebService" value="http://10.82.129.53:83/DBConnect.WebService/DBConnect.WebService.asmx"/>
    <add key="BasicWebService" value="http://10.82.129.53:83/Basic.WebService/WebService.asmx"/>
    <add key="P2L" value="http://10.82.129.53:83/P2LService/SFC.asmx"/>
    <add key="LogonWebService" value="http://10.82.129.53:83/PortalWebService/Logon.asmx"/>
    <add key="MAWGT003.Basic.WebService" value="http://10.82.129.53:83/Basic.WebService/WebService.asmx"/>-->

    <add key="AllowMultiAP" value="0"/>  <!--0.Disable, 1.Enable Multiple program instances are allowed to run. -->
    <add key="withCOM" value="0"/>  <!--0.Disable, 1.Enable Check Comm Port Connection(Scale Connect). -->
    <add key="virtualWorkstationIP" value="10.41.56.119"/>
    <!--Virtual Workstation IP (for Debug); Please follow IP address format: 10.41.21.104 10.41.56.30-->
    <add key="MemoryID" value="D120"/>  <!--Get PLCMEMVALUE by SFCPLCMEMORY.MemoryID -->
  </appSettings>
</configuration>
